.plag_row{
    gap:20px;
    padding-top: 30px;
}
.plag_row img{
    width: 23%;
}
.plag_row h6{
    font-size: 20px;
    color: var( --color-dark);
    font-weight: 600;
    padding: 12px 0;
}
.plag_row p{
    color: var(--color-grey );  
}
.plag_col{
    padding: 25px 23px !important;
    border-radius: 9px;
}
.plag_sec{
    margin: 100px 0;
}
.plag_sec p{
    padding-top: 10px;
}