*{
  box-sizing: border-box;
}
:root{
  --color-dark : #200E19;
  --color-green : #2EA399;
  --color-bg : #1E1E1E;
  --color-lite-green : #A0E4DE;
  --color-grey : #6D6D6D;
}
body{
  margin: 0;
  background-color: #E7F8F7 !important;
  font-family: 'Inter', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6, p{
  margin: 0 !important;
}
ul,li{
  margin: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}

/* colors */
.color-dark{
  color:var(--color-dark) !important;
}
.color-green{
  color: var(--color-green );
}
.color-grey{
  color:var(--color-grey);
}
.color-white{
  background-color: #fff;
}
/* font size */
.text-large {
  font-size: 54px;
  font-weight: 700;
}
.text-medium{
  font-size: 40px;
  font-weight: 700;
}
.text-sm{
  font-size: 20px;
}
.navbar-light{
  padding: 22px 0 !important;
}
.custom-container{
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.custom-container.custom_row {
  max-width: 1254px;
}

@media screen and (max-width:1284px){
  .custom-container.custom_row{
    max-width: 1233px;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}