.number_sec{
    margin: 100px 0;
}
.number_row{
    margin-top: 30px !important;
    justify-content: center;
    display: grid !important;
    gap: 94px;
    grid-template-columns: auto auto auto;
}
.number_row h6{
    color: var(--color-dark);
    font-size: 60px;
    font-weight:700 ;
}
.number_row p{
    color: var(--color-grey);
}
.number_text p{
    color: var(--color-grey);
    text-align: center;
    padding-top: 20px;
}
