.nav_btn{
    background-color: var(--color-lite-green);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid var(--color-lite-green);
    padding: 9px 20px;
    border-radius: 8px;
}
.banner_btn {
    background-color: var(--color-yellow);
    color: #fff;
    padding: 12px 34px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    display: inline-block;
    transition: box-shadow 0.3s ease-in-out;
}

.banner_btn:hover {
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.8);
}
.nav_btn:hover{
    background-color: #fff;
    color: var(--color-lite-green);
}
.nav_listing{
    gap: 29px;
}
.nav_listing a{
    text-decoration: none;
}
.nav__stl {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

/* Background turns white with blur effect on scroll */
.scrolled {
    background-color: rgba(255, 255, 255, 0.452); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 !important;
    height: 80px;
}
@media screen and (max-width:800px){
    .nav__stl {
        background-color: white;
    }
}